:root {
  /* Color styles */
--white: rgba(255, 255, 255, 1);
--gray--100: rgba(188, 195, 199, 1);
--gray--500: rgba(109, 116, 120, 1);
--gray--950: rgba(4, 4, 4, 1);
--green--100: rgba(3, 204, 92, 1);
--blue--100: rgba(1, 169, 255, 1);
--blue--200: rgba(66, 132, 247, 1);

/* Effect styles */
--shadow--100: 0px 4px 4px 0px rgba(181, 181, 181, 0.15);;
}

.widget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  margin: auto;
  width: 192px;
  height: 60px;
  min-width: 192px;
  padding: 14px 8px 14px 16px;
  border-radius: 6px;
  border: 1px solid #EBEBEA;
  background: var(--gradient-300, linear-gradient(99deg, #FFF 29.16%, #F4F4F4 93.35%));
  box-shadow: var(--shadow--100);
}


.temperatures {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;

  h2 {
    color: var(--gray--950);
    margin: 0;
    font-size: 20px;
  }

  p {
    color: var(--gray--500);
    margin: 0;
    font-size: 12px;
  }

}

.weather {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}